body {
  .wishlist-page {
    .dropdown-toggle {
      min-width: 210px;
      @media (max-width: 991px) {
        width: 100%;
      }
    }



    .form-check.form-switch {
      input,
      label {
        cursor: pointer;
      }
    }

    .wishlist-table {
      .btn-delete {
        transform: translateY(-5px);
      }
    }
  }

}
