body {
  .wishlist-page {
    .dropdown-toggle {
      min-width: 210px;
      @media (max-width: 575px) {
        width: 100%;
      }
    }
    .search-wishlist-wrapper {
      position: relative;
      .search-wishlist {
        display: flex;
        align-items: center;
        position: relative;
        border: 2px solid var(--grey);
        border-radius: 8px;
        padding: 7px 35px 7px 10px;
        outline: none !important;
        width: 300px;
        background-color: transparent;
        height: auto;

        @media (max-width: 767px) {
          width: 100%;
        }
      }
      > svg,
      > .cancel-search-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        path {
          fill: var(--grey);
        }
      }
      .cancel-search-btn {
        > svg {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 15px;
          height: 15px;
        }
      }
    }

    .wishlist-table {
      .btn-delete {
        transform: translateY(-5px);
      }
    }
  }
  &.light-mode {
    .wishlist-page {
      .search-wishlist-wrapper {
        .search-wishlist {
          border-color: var(--light);
        }
      }
    }
  }
}
