body {
  .book-details {
    .spinner {
      text-align: center;
      margin: 20px auto 0;
      justify-content: center;
      display: flex;
      width: 6rem;
      height: 6rem;
    }

    .book-description {
      padding-top: 1rem;
    }

    .main-image {
      height: 200px;
      width: auto;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

      @media (max-width: 575px) {
        width: 80px;
        height: auto;
      }
    }

    .book-bottom-details {
      span {
        color: var(--light-grey-2) !important;
      }
    }

    .buttons-row {
      @media (max-width: 575px) {
        width: 100%;
      }
      .btn {
        min-width: 200px;
        &:not(:last-child) {
          margin-right: 1rem;
        }

        @media (max-width: 767px) {
          min-width: unset;
          width: 100%;
          margin-right: 0rem !important;
        }
      }
    }

    .star-rating-wrapper {
      display: inline-block;
      svg {
      }
    }
  }
  &.light-mode {
    .book-bottom-details {
      span {
        color: var(--dark-grey) !important;
      }
      .genre-list {
        span {
          color: var(--black);
        }
      }
    }
    .buttons-row {
      .btn {
        svg {
          polygon {
            fill: var(--black);
          }
        }
      }
    }
  }
}
