body {
  .reading-challenge {
    .book-challenge-thumbnail {
      border-radius: 5px;
      width: 130px;
      height: 130px;
      background-color: var(--dark-purple);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      border: 2px solid var(--dark-grey);
      padding: 0.8rem;
      display: block;
      text-align: center;
      margin: 0 auto;
      @media(max-width:575px) {
        width: 130px;
        height: 130px;
      }
      .book-icon {
        width: 80px;
        height: auto;
        object-fit: contain;
        @media(max-width:575px) {
          width: 80px;
        }
      }
    }
    .progress-bar-wrapper {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      padding: 5px;
      border: 1px solid var(--dark-grey);
      border-radius: 25rem;

      .progress {
        border-radius: 25rem;
        .progress-bar {
          overflow: hidden;
          background-color: transparent;
          background-color: var(--purple);
        }
      }
    }
  }
  &.light-mode {
    .reading-challenge {
      .book-challenge-thumbnail {
        background-color: transparent;

        border: 2px solid var(--light);

        .book-icon {
         }
      }
    }
  }
}
