body {
  .website-features {
    .col-website-feature {
      @media (max-width: 767px) {
        &:nth-child(1),
        &:nth-child(2) {
          padding-bottom: calc(var(--bs-gutter-x) * 1.5);
        }
      }
      @media (max-width: 575px) {
        &:not(:last-child) {
          padding-bottom: calc(var(--bs-gutter-x) * 1.5);
        }
      }

      .boxed-content {
        height: 100%;
        svg {
          height: 25px;
          width: auto;
          path {
            fill: var(--dark-grey);
            stroke: var(--dark-grey);
          }

          rect {
            fill: var(--dark-grey);
            stroke: var(--dark-grey);
          }
        }
      }
    }
  }

  &.light-mode {
    .website-features {
      .boxed-content {
        svg {
          path {
            fill: var(--light);
            stroke: var(--light);
          }

          rect {
            fill: var(--light);
            stroke: var(--light);
          }
        }
      }
    }
  }
}
