body {
  --bs-body-bg: #1f2937 !important;
  --white: #ffffff;
  --dark-blue: #223147;
  --dark-blue-gray: #283346;
  --black: #1a1a1a;
  --light: #d1d5db;
  --purple: #43359be0;
  --light-purple: #a78bfa;
  --dark-purple: #242d3f;
  --purple-alt: #8b5cf6;
  --light-blue: #60a5fa;
  --light-grey: #8b93a1;
  --light-grey-2: oklch(70.7% 0.022 261.325deg);
  --grey: #6a7282;
  --dark-grey: #374151;
  --dark-grey-2: oklch(37.3% 0.034 259.733);
  --orange: #ce9a16;
  --red: #800a20;
  --color-green-500: oklch(72.3% 0.219 149.579);
  --light-grey-transparent: rgba(55, 65, 81, 0.3);
  --bs-nav-underline-link-active-color: #ce9a16 !important;
  --header_height: 72px;
  --responsive-menu-height: 92px;
  --box-shadow-light: 0 6px 18px rgba(209, 213, 219, 0.75);

  --font-light: "Roboto Light";
  --font-regular: "Roboto Regular";
  --font-medium: "Roboto Medium";
  --font-semibold: "Roboto-SemiBold";

  @media (max-width: 767px) {
    --header_height: 68px;
  }

  color: var(--white);
  font-family: "Roboto Regular";
  font-weight: unset;
  letter-spacing: 0.3px;
  overflow-x: hidden;

  @media (max-width: 767px) {
    padding-bottom: var(--responsive-menu-height);
  }

  section,
  main {
    padding: 2.2rem 0;
    @media (max-width: 767px) {
      padding: 2rem 0;
    }
  }

  main {
    section {
      &:first-child {
        padding-top: 0rem;
      }
    }
  }

  .bg-green-500 {
    background-color: oklch(72.3% 0.219 149.579);
  }

  * {
    color: var(--white);
  }

  .font-light {
    font-family: var(--font-light);
  }

  .font-regular {
    font-family: var(--font-regular);
  }

  .font-medium {
    font-family: var(--font-medium);
  }

  .font-semibold {
    font-family: var(--font-semibold);
  }

  a,
  button {
    color: var(--white);
    transition: 0s !important;
  }

  .lh-1 {
    line-height: 1;
  }

  @font-face {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: normal; /* Regular */
    font-display: swap; /* Improves performance */
    src: url("../public/fonts/Roboto-Light.eot"); /* For IE9 */
    src: url("../public/fonts/Roboto-Light.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/Roboto-Light.woff2") format("woff2"),
      url("../public/fonts/Roboto-Light.woff") format("woff"),
      url("../public/fonts/Roboto-Light.ttf") format("truetype"),
      url("../public/fonts/Roboto-Light.svg#RobotoCondensed-Regular")
        format("svg");
  }

  @font-face {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: normal; /* Regular */
    font-display: swap; /* Improves performance */
    src: url("../public/fonts/Roboto-Regular.eot"); /* For IE9 */
    src: url("../public/fonts/Roboto-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/Roboto-Regular.woff2") format("woff2"),
      url("../public/fonts/Roboto-Regular.woff") format("woff"),
      url("../public/fonts/Roboto-Regular.ttf") format("truetype"),
      url("../public/fonts/Roboto-Regular.svg#RobotoCondensed-Regular")
        format("svg");
  }

  @font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: normal; /* Regular */
    font-display: swap; /* Improves performance */
    src: url("../public/fonts/Roboto-Medium.eot"); /* For IE9 */
    src: url("../public/fonts/Roboto-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/Roboto-Medium.woff2") format("woff2"),
      url("../public/fonts/Roboto-Medium.woff") format("woff"),
      url("../public/fonts/Roboto-Medium.ttf") format("truetype"),
      url("../public/fonts/Roboto-Medium.svg#RobotoCondensed-Regular")
        format("svg");
  }

  @font-face {
    font-family: "Roboto-SemiBold";
    font-style: normal;
    font-weight: normal; /* Regular */
    font-display: swap; /* Improves performance */
    src: url("../public/fonts/Roboto-SemiBold.eot"); /* For IE9 */
    src: url("../public/fonts/Roboto-SemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/Roboto-SemiBold.woff2") format("woff2"),
      url("../public/fonts/Roboto-SemiBold.woff") format("woff"),
      url("../public/fonts/Roboto-SemiBold.ttf") format("truetype"),
      url("../public/fonts/Roboto-SemiBold.svg#RobotoCondensed-Regular")
        format("svg");
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: var(--font-light) !important;
    line-height: 1.2;
    margin-bottom: 1.2rem;
  }

  h1,
  .h1 {
    font-size: 2.5rem !important;
    @media (max-width: 767px) {
    }
  }

  h2,
  .h2 {
    font-size: 2rem !important;
    @media (max-width: 767px) {
      font-size: 1.8rem !important;
    }
  }
  h3,
  .h3 {
    font-size: 1.8rem !important;
    @media (max-width: 767px) {
      font-size: 1.5rem !important;
    }
  }

  h4,
  .h4 {
    font-size: 1.5rem !important;
    @media (max-width: 767px) {
      font-size: 1.3rem !important;
    }
  }

  h5,
  .h5 {
    font-size: 1.25rem !important;
    @media (max-width: 767px) {
      font-size: 1.15rem !important;
    }
  }

  h6,
  .h6 {
    font-size: 1rem !important;
  }
  input {
    position: relative;
    border: 2px solid var(--grey);
    border-radius: 8px;
    padding: 10px;
    outline: none !important;
    height: 40px;
    background-color: transparent;

    &[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  .form-switch {
    padding-left: 2.5rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    .form-check-input {
      background-color: transparent;
      width: 2.5rem;
      box-shadow: none !important;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='white'/></svg>");

      &:checked {
        border-color: var(--light-blue);
        background-color: transparent;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%2360a5fa'/></svg>");
      }
    }
    label {
      padding-left: 0.5rem;
    }
  }

  .search-popup {
    .modal-dialog {
      .modal-content {
        border: 1px solid rgba(223, 223, 223, 0.5);
      }
    }
  }

  .w-fit-content {
    width: fit-content;
  }

  .mw-200 {
    min-width: 200px;
  }

  .btn-group {
    .btn-check {
      + .btn {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 10px 10px;
        border-color: var(--light-blue);

        svg {
          width: 16px;
          height: 16px;
          path {
            fill: var(--light-blue);
          }
        }
      }
      &:checked,
      &:hover,
      &:active {
        + .btn {
          border-color: var(--light-blue);
          background-color: var(--light-blue);
          filter: unset;

          svg {
            path {
              fill: var(--white);
            }
          }
        }
      }
    }
  }

  .btn {
    line-height: 1.2;
    padding: 10px 15px;
    font-family: var(--font-semibold);
    svg {
      width: 20px;
      height: auto;
      polygon {
        fill: var(--white);
      }
    }

    &:hover,
    &:active,
    &:focus,
    &.active {
      filter: brightness(130%);
    }

    &.btn-default {
      background-color: var(--dark-blue);
      border-color: var(--dark-blue);
      color: var(--white);
      box-shadow: 0 4px 15px rgba(34, 49, 71, 0.4);
    }

    &.btn-nav {
      background-color: var(--dark-blue-gray);
      color: var(--white);
    }

    &.btn-buy {
      background-color: var(--purple);
      color: var(--white);
      box-shadow: 0 4px 8px rgba(67, 53, 155, 0.3);
    }

    &.btn-blue {
      background-color: var(--light-blue);
      border-color: var(--light-blue);
    }

    &.btn-small {
      padding: 7px 10px;
      font-size: 1rem;
      letter-spacing: 0.5px;
    }

    &.btn-large {
      padding: 12px 16px;
      font-size: 1.2rem;
    }

    &.btn-danger {
      border-color: var(--red);
      background-color: var(--red);
    }

    &.btn-icon {
      background: transparent !important;
      border: none !important;
      padding: 0px !important;
      outline: none !important;
    }

    &.btn-rounded {
      border-radius: 1.5rem !important;
    }

    &.btn-link {
      text-decoration: none;
      padding: 0;
      font-size: 1rem;
      color: var(--light-blue);

      &.active {
        pointer-events: none;
        color: var(--orange) !important;
      }

      &.btn-link-purple {
        color: var(--purple-alt);
      }

      &.btn-link-purple-alt {
        color: var(--purple-alt);
      }
    }

    &.btn-bordered {
      background-color: transparent;
      border: 2px solid var(--dark-blue);
      color: var(--white);
      box-shadow: 0 4px 15px rgba(34, 49, 71, 0.4);
    }

    &.btn-danger {
      color: var(--white);
    }

    &.full-width-mobile {
      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }

  .btn-delete {
    background-color: transparent;
    font-size: 24px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid var(--white);
    transform: translateY(-5px);

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: auto;
      path {
        fill: var(--white);
      }
    }
  }

  a.nav-link {
    line-height: 1.3;
    color: var(--light-grey);
    padding-block: 0;
    border-radius: 0;
    font-family: var(--font-semibold) !important;
  }
  .dropdown-toggle {
    &::after {
      vertical-align: middle;
      margin-left: 0.5rem;
    }
  }
  .dropdown-menu {
    font-size: 16px;
    border: 2px solid var(--light-grey-transparent);
    box-shadow: 0 4px 15px rgba(34, 49, 71, 0.4);

    .dropdown-item {
      color: var(--white);

      &:hover {
        color: var(--grey);
        background-color: transparent;
      }
    }
  }

  .img-abs {
    position: absolute;
    inset: 0;
  }
  .container,
  .container-md,
  .container-sm {
    @media (max-width: 1400px) {
      padding-inline: 1.2rem;
    }

    .container,
    .container-md,
    .container-sm {
      padding-inline: 0 !important;
    }
  }

  .container-sm {
    max-width: 1000px;
  }

  .container,
  .container-md {
    max-width: 1250px;
  }

  .boxed-content {
    line-height: 1.3;
    position: relative;
    border: 2px solid var(--dark-grey);
    border-radius: 15px;
    /* background-color: var(--dark-purple); */
    padding: 1.5rem;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /*  &:hover {
      border-color: var(--light-blue);
    } */

    @media (max-width: 991px) {
      padding: 1.2rem;
    }

    @media (max-width: 575px) {
      padding: 1rem;
    }
  }

  .font-14 {
    font-size: 14px !important;
  }

  .font-18 {
    font-size: 18px !important;
  }

  .font-20 {
    font-size: 20px !important;
  }

  .font-small {
    font-size: 12px !important;
  }

  .font-large {
    font-size: 2rem;
    @media (max-width: 575px) {
      font-size: 1.5rem;
    }
  }

  .font-xlarge {
    font-size: 2.5rem;
    @media (max-width: 575px) {
      font-size: 2rem;
    }
  }

  .text-orange {
    color: var(--orange) !important;
  }

  .text-grey {
    color: var(--grey) !important;
  }

  .text-light-blue {
    color: var(--light-blue) !important;
  }

  .fw-6 {
    font-family: var(--font-semibold);
  }

  .ls-1 {
    letter-spacing: 1px;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .table > :not(caption) > * > * {
    color: unset;
    background-color: transparent;
  }

  table {
    font-size: 1rem;
    th {
      color: var(--grey) !important;
      white-space: nowrap;
    }
    td {
      padding: 1rem !important;
    }
    th,
    td {
      line-height: 1.3;
      border-bottom: 2px solid var(--light-grey-transparent) !important;
    }
  }

  .pointer-events-none {
    pointer-events: none;
  }

  .mh-28 {
    min-height: 28px;
  }

  &.light-mode {
    color: var(--black);
    background-color: var(--white) !important;

    .shadowed {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    * {
      color: var(--black);
    }

    .btn-group {
      .btn-check {
        &:checked,
        &:hover {
          + .btn {
            color: var(--white) ;
          }
        }

        + .btn {
          &:hover,
          &:active {
            background-color: var(--light-blue);
            color: var(--white) ;
          }
        }
      }
    }

    .btn {
      outline: none !important;
      &:hover,
      &:active,
      &:focus,
      &.active {
        filter: brightness(90%);
      }

      &.btn-nav {
        color: var(--light-blue);
      }

      &.btn-default {
        background-color: var(--light);
        border-color: var(--light);
        color: var(--black);
        box-shadow: var(--box-shadow-light);
      }

      &.btn-bordered {
        border-color: var(--light);
        color: var(--black);
        box-shadow: var(--box-shadow-light);
      }
    }
    .form-switch {
      .form-check-input {
        &:not(:checked) {
          background-color: transparent;
          border-color: var(--grey);
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%236a7282'/></svg>");
        }
      }
    }

    button.btn-delete {
      background-color: white !important;
      border: 2px solid var(--light-grey);
      svg {
        path {
          fill: var(--light-grey);
        }
      }
    }

    .boxed-content {
      border-color: var(--light);
      box-shadow: var(--box-shadow-light);
      background-color: transparent !important;
    }

    .dropdown-menu {
      background-color: var(--white);
      .dropdown-item {
        color: var(--black);

        &:hover {
          color: var(--grey);
        }
      }
    }

    .search-wrapper {
      .input-search {
        border-color: var(--light);
      }
    }
  }

  .genre-list {
    padding-top: 1rem;
    font-size: 14px;

    span {
      background: rgba(139, 92, 246, 0.1);
      color: var(--light-purple);
      border: 1px solid rgba(139, 92, 246, 0.2);
      padding: 0.4rem 0.8rem;
      border-radius: 20px;
      font-family: var(--font-semibold);
      display: inline-block;
      margin: 0 0.5rem 0.5rem 0;
      user-select: none;

      @media (max-width: 575px) {
        font-size: 12px;
        padding: 0.2rem 0.5rem;
        margin: 0 0.4rem 0.4rem 0;
      }
    }
  }
  .search-wrapper {
    position: relative;
    .input-search {
      display: flex;
      align-items: center;
      position: relative;
      border: 2px solid var(--grey);
      border-radius: 8px;
      padding: 7px 35px 7px 10px;
      outline: none !important;
      width: 300px;
      background-color: transparent;
      height: auto;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
    > svg,
    > .cancel-search-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      background: transparent !important;
      border: none !important;
      padding: 0px !important;
      outline: none !important;
      &:active {
        border-color: transparent !important ;
      }
      path {
        fill: var(--grey);
      }
    }
    .cancel-search-btn {
      > svg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 15px;
        height: 15px;
      }
    }
  }

  .progress-bar-wrapper {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 1px solid var(--dark-grey);
    border-radius: 25rem;
  }

  .progress {
    border-radius: 25rem;
    .progress-bar {
      overflow: hidden;
      background-color: transparent;
      background-color: var(--purple);
    }
  }

  .shadowed {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }
}
